// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import "./transition.scss";
@import "./svgicon.scss";

/* Global scss */

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
}

#app {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li,
dl,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

// 自定义 css class
.clearfix {
  @include clearfix;
}

.app-container {
  padding: 20px;
}

.wrap-bg {
  background-color: #fff;
}

.app-row {
  display: flex;
  margin-bottom: 20px;

  &.v-center {
    justify-content: space-between;
    align-items: center;
  }
}

.head-title {
  color: $headTextColor;
}

.sub-title {
  font-size: 14px;
  color: $subTitleColor;
}

// 修改element 全局公共样式

.el-pagination .btn-prev,
.el-pagination .btn-next {
  background-color: transparent;
}

.el-pagination button:disabled {
  background-color: transparent;
}

.el-pager li {
  background-color: transparent;
}

.main-map-container {
  #container {
    .content-window-card {
      position: relative;
      box-shadow: none;
      bottom: 0;
      left: 0;
      width: auto;
      padding: 0;
    }

    .content-window-card p {
      height: 2rem;
    }

    .custom-info {
      border: solid 1px silver;
    }

    div.info-top {
      position: relative;
      background: none repeat scroll 0 0 #f9f9f9;
      border-bottom: 1px solid #ccc;
      border-radius: 5px 5px 0 0;
    }

    div.info-top div {
      display: inline-block;
      color: #333333;
      font-size: 14px;
      font-weight: bold;
      line-height: 31px;
      padding: 0 10px;
    }

    div.info-top img {
      position: absolute;
      top: 10px;
      right: 10px;
      transition-duration: 0.25s;
    }

    div.info-top img:hover {
      box-shadow: 0px 0px 5px #000;
    }

    div.info-middle {
      font-size: 12px;
      padding: 10px 6px;
      line-height: 20px;
    }

    div.info-bottom {
      height: 0px;
      width: 100%;
      clear: both;
      text-align: center;
    }

    div.info-bottom img {
      position: relative;
      z-index: 104;
    }

    span {
      margin-left: 5px;
      font-size: 11px;
    }

    .info-middle img {
      float: left;
      margin-right: 6px;
    }
  }
}
